apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deploy
  namespace: metacoding
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-server
          image: 842903729788.dkr.ecr.ap-northeast-2.amazonaws.com/metacoding-backend:1
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: backend-configmap
            - secretRef:
                name: backend-secret

