apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-deploy
  namespace: metacoding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis-server
          image: 842903729788.dkr.ecr.ap-northeast-2.amazonaws.com/metacoding-redis:1
          ports:
            - containerPort: 6379

